img {
  display: block;
}
img[alt="50"] {
  width: 50%;
}
img[alt="80"] {
  width: 80%;
}
@media only screen and (max-width: 500px) {
  img {
    width: 100%;
  }
}
img[alt="inline"] {
  display: inline-block;
}
img[alt="center"] {
  text-align: center;
  margin: auto;
}
